<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <h2>{{ question.question_text }}</h2>

    {% if err_msg %} <p><strong style="color:red;">{{ err_msg }}</strong></p> {% endif %}

    <form action="{% url 'polls_app:vote' question.id %}" method="post">{% csrf_token %}

        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice-{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice-{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br>
        {% endfor %}
        <br>
        <button type="submit" value="Vote">Vote</button>
        <hr>
    </form>

</body>
</html>