<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'polls_app/style.css'%}">
    <title>Home</title>
</head>
<body>
    <h1>IT WORKS! -> {{ q_id }}</h1>

    {% if latest_question_list %}
        <ul>
            {% for q in latest_question_list %}
            <li><a href="{% url 'polls_app:detail' q.id %}">{{ q.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>No polls are available.</h4>
    {% endif%}

</body>
</html>



